<div class="messages">
  <p>
    <strong>
        <%= message.user.firstname %>
        <%= message.user.lastname %>    
    :</strong>
    <span class="msg-text">
      <%= message.body %>
    </span>
    
  </p>
  <div>
        <%= link_to "Show this message", message %>    
  </div>
  <div class="like">
        <%= form_with(url: likes_path, method: "post") do %>
            <input type="hidden" name="like[message_id]" value="<%= message.id %>" autocomplete="off">
            <%= image_submit_tag("thumb_up_black_24dp.svg") %>
        <% end %>

        <p class="count"><%= message.likes.count %></p>
        
  </div>

</div>
