<%= render @message %>

<div class="options">
  <%= link_to "Edit this message", edit_message_path(@message) %> |
  <%= link_to "Back to messages", messages_path %> |
  <%= link_to "Write a Comment", new_message_comment_path(@message, @comment) %>

  <%= button_to "Destroy this message", @message, method: :delete %>
</div>

<div class="comments_all">

      <% @message.comments.each do |comment| %>
          <%= render comment %>
      <% end %>

</div>
