<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div>
        <% if flash[:notice]%>
          <p class="notice" style="color: green"><%= notice %></p>
        <% end %>

        <% if flash[:alert]%>
          <p class="alert" style="color: red"><%= alert %></p>
        <% end %>
    </div>
       

    <% if user_signed_in? %>
      <div class="header"> 
      <div class="header-links">
        <div class="links">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
        </div>
        <div class="links">
          <%= link_to 'All Users', users_path %>
        </div>
        <div class="links">
          <%= link_to 'Friends', friendships_path %>
        </div>
        <div class="links">
          <%= link_to 'Messages', messages_path %>
        </div>
      </div>  
        
        <h3 class="user-info">
            <p>User: </p>
            <%= current_user.firstname %>
            <%= current_user.lastname %>
        </h3>
        

        <div class="notifications">        
          <% if current_user.requests.count != 0 %>
            <p><%= link_to "Friend Requests:", friend_requests_path %></p>
            <div class="notif_count"><%= current_user.requests.count%></div>            
          <% end %> 
        </div>
        
      </div>

    <% end %>
   

    <%= yield %>
  </body>
</html>
